<div class = "formclass">
    <p> EDIT GUEST WORKS! </p>
    <form [formGroup] = "editGuestForm" (ngSubmit) = "editGuest()"  class = "register-form">
        <p class = "label">Id:</p>
        <input formControlName = "id" placeholder = "Id" type = "text">
        <p class = "label">Name:</p>
        <input formControlName = "name" placeholder = "Name" type = "text">
        <p class = "label">Surname:</p>
        <input formControlName = "surname" placeholder = "Surname" type = "text">
        <p class = "label">Description:</p>
        <input formControlName = "description" placeholder = "Description" type = "text">

        <p class = "padding"></p>
        <button type = "submit" style="background-color:#b8dfb8; font-family: Lucida Console; border-radius: 12px;"> Save Changes </button>

        <p></p>
        <button class="button_css" (click)="goBack()">Go Back</button>
    </form>
</div>
