.button_css{
    background-color:#b8dfb8;
    font-family: "Lucida Console", "Courier New", monospace;
    border-radius: 12px;

}

.formclass{
    font-family: "Lucida Console", "Courier New", monospace;
    padding-left:10px;
}

.padding{
    padding-top:10px;
}