<form [formGroup] = "createForm" (ngSubmit) = "addGuest()"  class = "register-form">
    <p class = "label">Id:</p>
    <input formControlName = "id" placeholder = "Id" type = "text">
    <p class = "label">Name:</p>
    <input formControlName = "name" placeholder = "Name" type = "text">
    <p class = "label">Surname:</p>
    <input formControlName = "surname" placeholder = "Surname" type = "text">
    <p class = "label">Description:</p>
    <input formControlName = "description" placeholder = "Enter description" type = "datetime">

    <p></p>
    <button type = "submit" > Add Guest </button>
</form>